#ShipView{
  font-size: 15px;
}
#ShipView .btn-group {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#ShipView .btn-group .btn {
  flex: 1;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#ShipView .hidden {
  display: none;
}
#ShipView .show {
  display: block;
}
#ShipView .deckStatus {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#ShipView .shipDetails {
  margin-bottom: 1px;
}
#ShipView .shipDetails .shipItem {
  margin-top: 8px;
  margin-left: 3px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
}
#ShipView .shipDetails .shipItem .progress {
  margin-bottom: 5px;
  height: 7px;
}
#ShipView .shipDetails .shipItem .shipInfo {
  flex: 3;
  margin-left: 4px;
  margin-right: 4px;
}
#ShipView .shipDetails .shipItem .shipInfo .shipBasic {
  flex; 1;
  font-size: 80%;
  vertical-align: bottom;
  padding-top: 0px;
}
#ShipView .shipDetails .shipItem .shipInfo .shipLv {

}
#ShipView .shipDetails .shipItem .shipInfo .shipType {
  margin-left: 5px;
}
#ShipView .shipDetails .shipItem .shipInfo .shipExp {
  margin-left: 5px;
}
#ShipView .shipDetails .shipItem .shipInfo .shipName {
  flex: 1;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ShipView .shipDetails .shipItem .shipInfo .expProgess {
  flex: 1;
}
#ShipView .shipDetails .expProgress {
  width: 100%;
}
#ShipView .shipDetails .expProgress .progress {
  height: 7px;
}
#ShipView .shipDetails .shipItem .shipStatus{
  flex: none;
  width: 20px;
}
#ShipView .shipDetails .shipItem .shipStatus span{
  padding: .2em .2em .2em;
  margin-bottom: 5px;
  font-size: 12px;
}
#ShipView .shipDetails .shipItem .shipHp{
  flex: 4;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-right: 4px;
}
#ShipView .hp-progress {
  /*border-radius: 0px;*/
  background-color: inherit;
  vertical-align: bottom;
}
#ShipView .hp-progress .progress .progress-bar {
  font-size: 11px;
  line-height: 0.9;
  /*color: #666;*/
}
#ShipView .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
  height: 7px;
}
#ShipView .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}

#ShipView .shipDetails .shipItem .shipFB{
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-right: 4px;
}
#ShipView .material-progress {
  vertical-align: top;
}
#ShipView .material-progress .progress {
  margin-bottom: 1px;
  height: 6px;
  position: relative;
  height: 7px;
}
#ShipView .material-progress .progress .progress-bar {
  font-size: 9px;
  line-height: 1.1;
  /*color: #666;*/
}
#ShipView .material-progress .progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#ShipView .material-progress .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#ShipView .shipDetails .shipItem .shipSlot{
  width: 125px;
  flex: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 3px;
}
#ShipView .slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: inline;
}
#ShipView .slotitem-container .slotitem-onslot {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: -3px;
  bottom: -3px;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  padding-left: 2px;
  padding-right: 2px;
}
#ShipView .slotitem-container span.show {
  display: inline !important;
}
#ShipView .slotitem-container img {
  width: 36px;
  height: 36px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -5px;
}
#ShipView .alert {
  background-color: transparent;
  border-color: transparent;
  margin-top: 9px;
  text-align: center;
}
